.app-background {
  position: relative; /* needed for overlay */
  min-height: 100vh;
  background-image: url('jobimage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* overlay to reduce opacity of the background only */
.app-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); /* white overlay with 40% opacity */
  /* use rgba(0,0,0,0.4) if you want a darker overlay */
  z-index: 1;
}

/* make content appear above overlay */
.app-background > * {
  position: relative;
  z-index: 2;
}


