.btn-login{
    height: 30px;
    width:50px;
    background-color: antiquewhite;
    border-radius: 20%;
    margin:10px;

}

.btn-sign-up{
    height: 30px;
    width:50px;
    background-color: antiquewhite;
    border-radius: 20%;

}


 


