.applicants-section{
    height: 100vh;
    width: 300px;
     background-color: #fadada;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      overflow: auto;
}

.history-section{
    height: 100vh;
    width: 300px;
    background-color: #fadada;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.side-section{
    display: flex;
    position: absolute;
  right: 0;
  top: 100px;
}