.apply-section{

    height:200px;
    width: 350px;;

}


.education-selection{
    width:95%;
    margin:auto;
    height: 30%;

}

.experience-selection{
    width: 95%;
    margin:auto;
    height: 30%;
    

}

.gender-selection{
    width: 70%;
    height: 10%;
    border: 1px solid black;
    

  
}


    
    



.gender-selection option{
    padding:6px;
}


.Skills-selection{
    height:60%;
    width:95%;
    height: 30%;
    margin: auto;
    border: 1px solid black;

}

.apply-btn{
    background-color: rgb(26, 255, 0);
    border: 1px solid black;



}

.Cancel{
    background-color: rgb(255, 55, 0);
    border: 1px solid black;

}

.skills-section{
    display: flex;
    height: 30%;
}

.edu-section{
    display: flex;
    height: 30%;

}

.exp-section{
    display: flex;
    height: 30%;

}