.create-job-card {
  width: 350px;
  padding: 20px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px auto;
}

.create-job-card input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

.create-job-card input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 4px rgba(79, 70, 229, 0.4);
}

.apply-btn {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.apply-btn:hover {
  background: #3b35c5;
}

.welcome-section  {
text-align: center;
}





